<div class="col-md-14 mt-3">
  <h1>{{ page_title }}</h1>
  <p *ngIf="status == 'success'">Register in our platform to start learning</p>

  <div class="alert alert-success col-md-7" *ngIf="status == 'success'">
    The register has been saved correctly,
    <a [routerLink]="['/login']">Log In</a>
  </div>

  <div class="alert alert-danger col-md-7" *ngIf="status == 'error'">
    The register couldn't been saved
  </div>
  <!-- Register Form  -->
  <form
    class="col-md-7 ml-0 pl-0"
    #registerForm="ngForm"
    (ngSubmit)="onSubmit(registerForm)"
  >
    <div class="form-group">
      <label for="name" class="col-form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        #name="ngModel"
        [(ngModel)]="user.name"
        required
        pattern="[a-zA-Z0-9]+"
      />
      <small
        *ngIf="!name.valid && name.touched"
        class="invalid-feedback d-block"
        >The name is not valid</small
      >
    </div>
    <div class="form-group">
      <label for="email" class="col-form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        #email="ngModel"
        [(ngModel)]="user.email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
      <small
        *ngIf="!email.valid && email.touched"
        class="invalid-feedback d-block"
        >The email is not valid</small
      >
    </div>
    <div class="form-group">
      <label for="password" class="col-form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        #password="ngModel"
        [(ngModel)]="user.password"
        required
      />
      <small
        *ngIf="!password.valid && password.touched"
        class="invalid-feedback d-block"
        >The password is not valid</small
      >
    </div>
    <div class="form-group">
      <input
        type="submit"
        value="Register"
        class="btn btn-success"
        [disabled]="registerForm.invalid"
      />
    </div>
  </form>
</div>
