<div class="col-md-14 mt-3">
  <h1>{{ page_title }}</h1>

  <div class="alert alert-success col-md-7" *ngIf="status == 'success'">
    The question has been saved correctly,
  </div>

  <div class="alert alert-danger col-md-7" *ngIf="status == 'error'">
    The question hasn't been saved correctly
  </div>
  <!-- Admin Form  -->
  <form
    class="col-md-7 ml-0 pl-0"
    #questionForm="ngForm"
    (ngSubmit)="onSubmit(questionForm)"
  >
    <div class="form-group mb-3">
      <label for="question" class="col-form-label">Question</label>
      <input
        type="text"
        name="question"
        class="form-control"
        #question.question="ngModel"
        [(ngModel)]="question.question"
        required

      />
      <!-- <small
        *ngIf="!question.valid && question.touched"
        class="invalid-feedback d-block"
        >The Question is not valid</small
      > -->
    </div>
    <div class="form-group">
      <label for="answer1" class="col-form-label">Answer 1</label>
      <input
        type="text"
        name="answer1"
        class="form-control"
        #this.answer1="ngModel"
        [(ngModel)]="this.answer1"
        required
        pattern="[a-zA-Z0-9]+"
      />
      <!-- <small
        *ngIf="!answer.valid && answer.touched"
        class="invalid-feedback d-block"
        >The email is not valid</small
      > -->
    </div>

    <div class="form-group">
      <label for="answer2" class="col-form-label">Answer 2</label>
      <input
        type="text"
        name="answer2"
        class="form-control"
        #this.answer2="ngModel"
        [(ngModel)]="this.answer2"
        required
        pattern="[a-zA-Z0-9]+"
      />
      <!-- <small 
        *ngIf="!answer.valid && answer.touched"
        class="invalid-feedback d-block"
        >The email is not valid</small
      > -->
    </div>

    <div class="form-group mb-3">
      <label for="answer3" class="col-form-label">Answer 3</label>
      <input
        type="text"
        name="answer3"
        class="form-control"
        #this.answer3="ngModel"
        [(ngModel)]="this.answer3"
        required
        pattern="[a-zA-Z0-9]+"
      />
      <!-- <small
        *ngIf="!answer.valid && answer.touched"
        class="invalid-feedback d-block"
        >The email is not valid</small
      > -->
    </div>

    <div class="form-group mb-3">
      <label for="correct_answer" class="col-form-label">CORRECT Answer</label>
      <input
        type="text"
        name="correct_answer"
        class="form-control"
        #correct_answer="ngModel"
        [(ngModel)]="question.correct_answer"
        required
        pattern="[a-zA-Z0-9]+"
      />
      <!-- <small
        *ngIf="!answer.valid && answer.touched"
        class="invalid-feedback d-block"
        >The email is not valid</small
      > -->
    </div>

    <div class="form-group mb-3">
      <label for="topic_id" class="col-form-label">Topic</label>
      <select
        name="topic_id"
        class="form-control"
        #topic_id="ngModel"
        [(ngModel)]="question.topic_id"
        required
        pattern="[a-zA-Z0-9]+"
      >
        <option>Select</option>
        <option *ngFor="let topic of topics" value="{{ topic.id }}">
          {{ topic.topic_name }}
        </option>
        <option>-- New Topic --</option>
      </select>
      <!-- <small
        *ngIf="!answer.valid && answer.touched"
        class="invalid-feedback d-block"
        >The email is not valid</small
      > -->
    </div>

    <div class="form-group mb-3">
      <input
        type="submit"
        value="Save"
        class="btn btn-success"
        [disabled]="questionForm.invalid"
      />
    </div>
  </form>
</div>
