<div class="loading" *ngIf="questions[0].id == 0">
  <div class="d-flex justify-content-center m-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="questions[0].id != 0">
  <!-- <div class="card-columns">
    <article class="card w-100" > -->
  <div
    class="accordion m-4"
    id="accordionExample"
    *ngFor="let question of questions"
  >
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          {{ question.question }}
        </button>
      </h2>

      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              {{ question.answer1 }}
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              {{ question.answer3 }}
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              {{ question.answer2 }}
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              {{ question.correct_answer }}
            </label>
          </div>
          <!-- Botones de acción -->
          <div class="question-btn">
            <button class="btn btn-success mx-5">Answer</button>
            <!-- Boton edicion -->
            <span *ngIf="identity && identity.sub == question.creator_id">
              <button
                type="button"
                class="edit-btn btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                <i class="fa-solid fa-file-pen"></i>
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="staticBackdrop"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="staticBackdropLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">
                        Modify
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <form
                        class="col-md-7 ml-0 pl-0"
                        #updateForm="ngForm"
                        (ngSubmit)="onSubmitUpdate()"
                      >
                        <div class="form-group">
                          <label for="question" class="col-form-label"
                            >Question</label
                          >
                          <input
                            type="text"
                            name="question"
                            class="form-control"
                            #question.question="ngModel"
                            [(ngModel)]="question.question"
                            required
                          />
                        </div>
                        <div class="form-group">
                          <label for="answer1" class="col-form-label"
                            >Answer 1</label
                          >
                          <input
                            type="text"
                            name="answer1"
                            class="form-control"
                            #this.answer1="ngModel"
                            [(ngModel)]="this.answer1"
                            required
                          />
                        </div>

                        <div class="form-group">
                          <label for="answer2" class="col-form-label"
                            >Answer 2</label
                          >
                          <input
                            type="text"
                            name="answer2"
                            class="form-control"
                            #this.answer2="ngModel"
                            [(ngModel)]="this.answer2"
                            required
                          />
                        </div>

                        <div class="form-group">
                          <label for="answer3" class="col-form-label"
                            >Answer 3</label
                          >
                          <input
                            type="text"
                            name="answer3"
                            class="form-control"
                            #this.answer3="ngModel"
                            [(ngModel)]="this.answer3"
                            required
                          />
                        </div>

                        <div class="form-group">
                          <label for="correct_answer" class="col-form-label"
                            >CORRECT Answer</label
                          >
                          <input
                            type="text"
                            name="correct_answer"
                            class="form-control"
                            #correct_answer="ngModel"
                            [(ngModel)]="question.correct_answer"
                            required
                          />
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger">
                            Delete
                          </button>
                          <input
                            type="submit"
                            value="Save"
                            class="btn btn-success"
                            [disabled]="updateForm.invalid"
                          />
                        </div>
                      </form>
                    </div>
                  </div>
                </div></div
            ></span>
          </div>
        </div>
      </div>
      <!-- </div>
    </article> -->
    </div>
  </div>
</div>
