/* You can add global styles to this file, and also import other style files */
.accordion {
  min-width: 400px;
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgb(169, 154, 154);
}
footer a{
  text-decoration: none;
  color: rgb(169, 154, 154);
}
button.edit-btn.btn.btn-warning{
border-radius: 50px;
width: 40px;
}